.input {
  text-align: center;
  color: white;
  /* height: 128.49999px; */
  height: 60px;
  font-size: 15px;
  margin-top: 1em;
  padding: 10px 10px 0px 10px;
  background-color: salmon;
  

}
.input a {
  color: white;
}
